<style>
    textarea {
        border-radius: 10%;
        border-color: dimgray;
    }
</style>
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Update Task</h5>
                </div>
                <div class="card-body">
                    <!--Formulaire d'ajout début-->
                    <form [formGroup]="editForm">
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label><b>Title</b></label>
                                    <input type="text" [(ngModel)]="tache.titre" name="titre" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label><b>Description</b></label>
                                    <textarea [(ngModel)]="tache.description" name="description"class="form-control" rows="5" cols="33">
                                        </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label><b>Case</b></label>
                                    <select class="form-control form-control-alternative" name="affaireFK"
                                        [(ngModel)]="tache.affaireFK">
                                        <option *ngFor="let a of affaireFK" [ngValue]="a">{{a.titre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label><b>Court</b></label>
                                    <select class="form-control form-control-alternative" name="tribunalFK"
                                        [(ngModel)]="tache.tribunalFK">
                                        <option *ngFor="let tr of tribunalFK" [ngValue]="tr">{{tr.adresse}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label><b>Phase</b></label>
                                    <select class="form-control form-control-alternative" multiple name="phases"
                                        [(ngModel)]="tache.phases">
                                        <option *ngFor="let ph of phases" [ngValue]="ph">{{ph.nom}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="btn-edit text-center">
                            <button class="btn btn-round btn-danger" (click)="updateTache()"><b>Update</b></button>
                            <a href="/tache" class="btn btn-round btn-danger"><b>Return</b></a>
                        </div>
                    </form>
                    <!--Formulaire d'ajout fin-->
                </div>
            </div>
        </div>
    </div>
</div>