<style>
    textarea {
        border-radius: 10%;
        border-color: dimgray;
    }
</style>
<div class="panel-header panel-header-sm">
</div>
<br>
<br>
<div [hidden]="!authenticated()">
    <div class="main-content">
        <div class="container-fluid">

            <div class="row">

                <!-- Formulaire de Recherche -->
                <div class="card-body">
                    <div id="rechercheavancee" class="col-md-12">
                        <form (ngSubmit)="onSubmit()" class="form-group col-md-6">

                            <label for="reference"><b>Reference :</b></label>
                            <input class="form-control" type="text" name="reference" [(ngModel)]="reference">

                            <label for="dateAffaire"><b>Date:</b></label>
                            <input class="form-control" type="date" name="dateAffaire" [(ngModel)]="dateAffaire">

                            <label for="titre"><b>Title :</b></label>
                            <input class="form-control" type="text" name="titre" [(ngModel)]="titre">

                            <label><b>Status</b></label>
                            <select class="form-control form-control-alternative" [(ngModel)]="affaire.statut"
                                name="statut">
                                <option value="0">A venir</option>
                                <option value="1">En cours</option>
                                <option value="2">Traité</option>
                                <option value="3">Archivé</option>
                            </select>

                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                (click)="rechercher()">Research</button>
                        </form>
                    </div>
                    <div>
                        <input type="button" name="boutonrecherche" class="btn btn-round btn-info" id="boutonrecherche"
                            value="Faire une recherche">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Create Case </h5>
                        </div>
                        <div class="card-body">
                            <!--Formulaire d'ajout début-->
                            <form (ngSubmit)="saveAffaire()">
                                <div class="row justify-content-center">

                                    <div class="col-md-4 pl-1">
                                        <div class="form-group">
                                            <label><b>Reference</b></label>
                                            <input type="text" [(ngModel)]="affaire.reference" name="reference"
                                                class="form-control" placeholder="reference">
                                        </div>
                                    </div>

                                    <div class="col-md-4 pl-1">
                                        <div class="form-group">
                                            <label><b>Title</b></label>
                                            <input type="text" [(ngModel)]="affaire.titre" name="titre"
                                                class="form-control" placeholder="Titre de l'affaire">
                                        </div>
                                    </div>

                                    <div class="col-md-4 pl-1">
                                        <div class="form-group">
                                            <label><b>Status</b></label>
                                            <select class="form-control form-control-alternative"
                                                [(ngModel)]="affaire.statut" name="statut">
                                                <option value="0">A venir</option>
                                                <option value="1">En cours</option>
                                                <option value="2">Traité</option>
                                                <option value="3">Archivé</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 px-1">
                                        <div class="form-group">
                                            <label><b>Description</b></label>
                                            <textarea [(ngModel)]="affaire.description" name="description"
                                                class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-1">
                                        <div class="form-group">
                                            <label for="date"><b>Case Date </b></label>
                                            <input type="date" name="dateAffaire" [(ngModel)]="affaire.dateAffaire"
                                                class="form-control">
                                        </div>
                                    </div>

                                    <!-- <div class="col-md-4 px-1">
                                <td>Document</td>
                                    <td><select class = "form-select form-select-sm" multiple name="documents" [(ngModel)]="affaire.documents">
                                    <option *ngFor="let d of documents" [ngValue]="d">{{d.nom}}</option>
                                    </select>
                            </td>
                            </div> -->
                                </div>

                                <div>
                                    <button class="btn btn-round btn-danger" type="submit"><b>Add</b></button>
                                </div>
                            </form>
                            <!--Formulaire d'ajout fin-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Table d'affichage des données début-->
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Reference</th>
                                    <th>Date</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Document</th>
                                    <th>Status</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let a of affaireRecherche">
                                    <td>{{a.reference}}</td>
                                    <td>{{a.dateAffaire}}</td>
                                    <td>{{a.titre}}</td>
                                    <td>{{a.description}}</td>
                                    <td>{{documentsCount[a.reference] || 0}}</td>
                                    <td>{{convertStatutToString(a.statut)}}</td>

                                    <td>
                                        <button class="btn btn-round btn-danger"
                                            (click)="deleteAffaire(a.idAffaire)"><b>Delete</b></button>
                                        <button class="btn btn-round btn-info"
                                            (click)="editAffaire(a)"><b>Edit</b></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--Table d'affichage des données fin-->
        </div>
    </div>