

<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
   <div class="row">
       <div class="col-md-12">
           <div class="card">
               <div class="card-header">
                   <h5 class="title">Document</h5>
               </div>
               <div class="card-body">
                   <!--Formulaire d'ajout début-->
                   <form (ngSubmit)="saveDocument()">
                       <div class="row">
                           <div class="col-md-4 pr-1">
                               <div class="form-group">
                                   <label>Nom</label>
                                   <input type="text" class="form-control" 
                                       [(ngModel)]="document.nom" name="nom">
                               </div>
                           </div>
                           <div class="col-md-4 px-1">
                               <div class="form-group">
                                   <label>Date de creation</label>
                                   <input type="date" class="form-control"
                                       [(ngModel)]="document.dateCreation" name="prenomUtilisateur">
                               </div>
                           </div>
                           <div class="col-md-6 px-1">
                            <div class="form-group">
                                <label>Description</label>
                               
                                <textarea [(ngModel)]="document.description" name="description" class="form-control"
                                rows="5" cols="33">
                                Description...
                                </textarea>
                            </div>
                        </div>
                       </div>
    
                       <div>
                           <button class="btn btn-danger">Add</button>
                       </div>
                   </form>
                   <!--Formulaire d'ajout fin-->
               </div>
           </div>
       </div>
   </div>
   <!--Table d'affichage des données début-->
   <div class="card">
       <div class="card-body">
           <div class="table-responsive">
               <table class="table">
                   <thead class=" text-primary">
                       <tr>
                           <th>Nom</th>
                           <th>Date</th>
                           <th>Description</th>
                           <th>Action </th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr *ngFor="let d of documents">
                           <td>{{d.nom}}</td>
                           <td>{{d.date}}</td>
                           <td>{{d.description}}</td>
                        
                           <td>
                               <button class="btn btn-outline-danger"
                                   (click)="deleteDocument(d.idDocument)">Delete</button>
                               <button class="btn btn-info">Edit</button>
                               <button class="btn btn-blue" (click)="createPdf()">Print
                               </button>
                           </td>
                       </tr>
                   </tbody>
               </table>
           </div>
       </div>
   </div>
   <!--Table d'affichage des données fin-->
</div>

