<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row justify-content-center">
        <div class="col-md-4 pr-1">
            <div class=" card">
                <div class="card-header">
                    <h5 style="text-align: center;" class="title">Sign in with credentials</h5>
                </div>
                <div class="card-body">
                    <!--Formulaire d'ajout début-->
                    <form (submit)="login()" role="form">
                        <div class="row justify-content-center">
                            <div class="col-md-4 pr-1">
                                <div class="form-group text-center">
                                    <label><b>Username</b></label>
                                    <input type="text" class="form-control" type="text"
                                        [(ngModel)]="credentials.username" name="username">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-4 pr-1">
                                <div class="form-group text-center">
                                    <label><b>Password</b></label>
                                    <input type="password" class="form-control" [(ngModel)]="credentials.password"
                                        name="password">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-round btn-danger">Sign in</button>
                        </div>
                    </form>
                    <!--Formulaire d'ajout fin-->
                </div>
            </div>
        </div>
    </div>