<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Edit Phase</h5>
                </div>
                <div class="card-body">
                    <!--Formulaire d'ajout début-->
                    <form [formGroup]="editForm">
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" [(ngModel)]="phase.nom" name="nom" class="form-control"
                                        placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-4 px-1">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-date">Start date</label>
                                    <input type="date" [(ngModel)]="phase.dateDebut" name="dateDebut" id="input-date"
                                        class="form-control form-control-alternative" placeholder="Start date">
                                </div>
                            </div>
                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label for="email">End Date </label>
                                    <input type="date" name="dateFin" [(ngModel)]="phase.dateFin" class="form-control"
                                        placeholder="End date">
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-round btn-info" (click)="updatePhase()">update</button>
                        </div>
                    </form>
                    <!--Formulaire d'ajout fin-->
                </div>
            </div>
        </div>
    </div>
</div>