<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Create Role</h5>
                </div>
                <div class="card-body">
                    <!--Formulaire d'ajout début-->
                    <form (ngSubmit)="saveRole()">
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" [(ngModel)]="role.libelle" name="libelle">
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-danger">Add</button>
                        </div>
                    </form>
                    <!--Formulaire d'ajout fin-->
                </div>
            </div>
        </div>
    </div>
    <!--Table d'affichage des données début-->
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <tr>
                            <th>Description</th>
                            <th>Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of roles; let i = index">
                            <td>{{r.libelle}}</td>

                            <td>
                                <button *ngIf="i > 2" class="btn btn-outline-danger"
                                    (click)="deleteRole(r.idRole)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--Table d'affichage des données fin-->
</div>