<div class="panel-header panel-header-sm">
</div>

<div [hidden]="!authenticated()">
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="title">Create Phase</h5>
                    </div>
                    <div class="card-body">
                        <!--Formulaire d'ajout début-->
                        <form (ngSubmit)="savePhase()">
                            <div class="row justify-content-center">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label><b>Name</b></label>
                                        <input type="text" [(ngModel)]="phase.nom" name="nom" class="form-control"
                                            placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1 justify-content-center">
                                    <div class="form-group">
                                        <label>Task</label>
                                        <select class="form-control form-control-alternative" name="tacheFK"
                                            [(ngModel)]="phase.tacheFK">
                                            <option *ngFor="let ta of tacheFK" [ngValue]="ta">{{ta.titre}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-date"><b>Start date</b></label>
                                        <input type="date" [(ngModel)]="phase.dateDebut" name="dateDebut"
                                            id="input-date" class="form-control form-control-alternative"
                                            placeholder="Start date">
                                    </div>
                                </div>
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label for="input-date"><b>End date</b></label>
                                        <input type="date" name="dateFin" [(ngModel)]="phase.dateFin"
                                            class="form-control" placeholder="End date">
                                    </div>
                                </div>
                            </div>
 
                        <div>
                                <button class="btn btn-round btn-danger"><b>Add</b></button>
                        </div>
                    </form>
                    <!--Formulaire d'ajout fin-->
                </div>
            </div>
        </div>
    </div>
    <!--Table d'affichage des données début-->
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table text-center">
                    <thead class=" text-primary">
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Task title</th>
                            <th>Case reference</th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of phases">
                            <td>{{p.nom}}</td>
                            <td *ngIf="p.dateDebut">{{p.dateDebut}}</td>
                            <td *ngIf="p.dateFin">{{p.dateFin}}</td>
                             <td>{{p.tacheFK.titre}}</td>
                             <td>{{p.tacheFK.affaireFK.reference}}</td>
                            <td>
                                    <button class="btn btn-round btn-danger"
                                        (click)="deletePhase(p.idPhase)"><b>Delete</b></button>
                                    <button class="btn btn-round btn-info" (click)="editPhase(p)"><b>Edit</b></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--Table d'affichage des données fin-->
    </div>
</div>
</div>
