<div class="panel-header panel-header-sm">
    <h1>Modular management for your law firm</h1>
    <h3>Easily manage ligation for each court from your personal space.</h3>
    <div class="button-wrapper">
        <a href="/login">
            <button class="btn-login">Login</button>
        </a>
    </div>
</div>
<!--Afficher si utilisateur non connecté-->

<!--Afficher quand utilisateur connecté-->
<div class="main-content ">
    <div class="row justify-content-between">
        <div class="col-md">
            <div id="little-card" style="width: 18rem;">
                <div style="display: flex; justify-content: center; align-items: center;">
                    <img src="../../assets/img/contact.png" class="card-img-top" style="max-width: 50%; height: auto;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Contact details of the court</h5>
                    <p class="card-text">Manage and display court details.</p>
                    <a href="/tribunaux" class="btn-menu">Courts</a>
                  </div>
                </div>
          </div>

       <div class="col-md">
        <div id="little-card" style="width: 18rem;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <img src="../../assets/img/status.png" class="card-img-top" style="max-width: 50%; height: auto;">
            </div>
            <div class="card-body">
              <h5 class="card-title">Check the status of cases</h5>
              <p class="card-text">Determine the  planning for the different phases of your ongoing court cases.</p>
              <a href="/phase" class="btn-menu">Phases</a>
            </div>
          </div>
       </div>
       <div class="col-md">
        <div id="little-card" style="width: 18rem;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <img src="../../assets/img/document.png" class="card-img-top" style="max-width: 50%; height: auto;">
            </div>
            <div class="card-body">
              <h5 class="card-title">Documents</h5>
              <p class="card-text">Consult the documents relating to your court cases.</p>
              <a href="/documents" class="btn-menu">Documents</a>
            </div>
          </div>
       </div>
       <div class="col-md">
        <div id="little-card" style="width: 18rem;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <img src="../../assets/img/cases.png" class="card-img-top" style="max-width: 50%; height: auto;">
            </div>
            <div class="card-body">
              <h5 class="card-title">Legal Cases</h5>
              <p class="card-text">Add, update and manage the status of your legal cases.</p>
              <a href="/affaires" class="btn-menu">Cases</a>
            </div>
          </div>
       </div>
       <div class="col-md">
        <div id="little-card" style="width: 18rem;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <img src="../../assets/img/todo.png" class="card-img-top" style="max-width: 50%; height: auto;">
            </div>
            <div class="card-body">
              <h5 class="card-title">Manage your tasks</h5>
              <p class="card-text">Organise your court case tasks and update the status of hearings</p>
              <a href="/taches" class="btn-menu">To do</a>
            </div>
          </div>
       </div>
   </div>
   <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Dashboard</h5>
            <h3>Number of cases over the year</h3>
                </div>
                <canvas #myChart style="width: 100%; height: 100%; display: block;"></canvas>
            </div>
        </div>
    </div>
</div>