<div class="panel-header panel-header-sm">
</div>
<br>
<br>
<div [hidden]="!authenticated()">
    <div class="main-content">
        <div class="row">
            <!-- Formulaire de Recherche -->
            <div class="card-body">
                <div id="rechercheavancee" class="col-md-12">
                    <form (ngSubmit)="onSubmit()" class="form-group col-md-6">
                        <label for="nomUtilisateur"><b>User's name :</b></label>
                        <input class="form-control" type="text" name="nomUtilisateur" [(ngModel)]="nomUtilisateur">
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                            (click)="rechercher()">Research</button>
                    </form>
                </div>
                <div>
                    <input type="button" name="boutonrecherche" class="btn btn-round btn-info" id="boutonrecherche"
                        value="Faire une recherche">
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="title">Create User Profile</h5>
                    </div>
                    <div class="card-body">
                        <!--Formulaire d'ajout début-->
                        <form (ngSubmit)="saveUtilisateur()">
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label><b>Firstname</b></label>
                                        <input type="text" class="form-control" placeholder="Your firstname"
                                            [(ngModel)]="utilisateur.nomUtilisateur" name="nomUtilisateur">
                                    </div>
                                </div>
                                <div class="col-md-4 px-1">
                                    <div class="form-group">
                                        <label><b>Lastname</b></label>
                                        <input type="text" class="form-control" placeholder="Your lastname"
                                            [(ngModel)]="utilisateur.prenomUtilisateur" name="prenomUtilisateur">
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label for="email"><b>Email</b></label>
                                        <input name="email" id="email" type="email" class="form-control"
                                            placeholder="Your email" [(ngModel)]="utilisateur.email" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label><b>Username</b></label>
                                        <input type="text" class="form-control" placeholder="Your username"
                                            [(ngModel)]="utilisateur.username" name="username">
                                    </div>
                                </div>
                                <div class=" col-md-6 pl-1">
                                    <div class="form-group">
                                        <label><b>Password</b></label>
                                        <input type="password" class="form-control" placeholder="Your password"
                                            [(ngModel)]="utilisateur.password" name="password">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label><b>Status</b></label>
                                        <select class="form-control form-control-alternative"
                                            [(ngModel)]="utilisateur.enabled" name="enabled">
                                            <option value="false">Désactivé</option>
                                            <option value="true">Activé</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label><b>Role</b></label>
                                        <select class="form-control form-control-alternative" multiple name="roles"
                                            [(ngModel)]="utilisateur.roles">
                                            <option *ngFor="let r of roles" [ngValue]="r">{{r.libelle}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-round btn-danger"><b>Add</b></button>
                            </div>
                        </form>
                        <!--Formulaire d'ajout fin-->
                    </div>
                </div>
            </div>
        </div>
        <!--Table d'affichage des données début-->
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class=" text-primary">
                            <tr>
                                <th>Last name</th>
                                <th>First name</th>
                                <th>Email</th>
                                <th>Username </th>
                                <th>Password</th>
                                <th>Status</th>
                                <th>Role</th>
                                <th>Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of nomRecherche">
                                <td>{{u.nomUtilisateur}}</td>
                                <td>{{u.prenomUtilisateur}}</td>
                                <td>{{u.email}}</td>
                                <td>{{u.username}}</td>
                                <td>{{u.password}}</td>
                                <td>{{convertStatutToString(u.enabled)}}</td>
                                <td>
                                    <p *ngFor="let r of u.roles">{{r.libelle}}</p>
                                </td>
                                <td>
                                    <button class="btn btn-round btn-danger"
                                        (click)="deleteUtilisateur(u.idUtilisateur)"><b>Delete</b></button>
                                    <button class="btn btn-round btn-info"
                                        (click)="editUtilisateur(u)"><b>Edit</b></button>
                                    <button [class]="u.enabled ? 'btn btn-round btn-danger' : 'btn btn-round btn-info'"
                                        (click)="updateStatus(u)"><b>{{ u.enabled ?
                                            'Disable' : 'Enable' }}</b></button>
                                    <!--
                                <button class="btn btn-round btn-danger"
                                    (click)="updateAccountStatus()"><b>Enable</b></button>
                                <button class="btn btn-round btn-danger" (click)="setAccountStatusTrue()">Update
                                    account</button>
                                -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Table d'affichage des données fin-->
    </div>
</div>